.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1200px;
  margin: 30px auto;
}
.product-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  width: 300px;
  max-width: 300px;
  border-radius: 10px;
}

.product-title {
  height: 38px;
}

.product-img {
  height: 200px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.product-details {
  padding: 5px;
}

.product-sub-details {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
